.about-style {
    background-color: getColour(blue-navy);
    width: 60%;
    margin: 20px auto;  
    border-radius: 20px; 
}

.about-style h2{
    text-align: center;
}
.about-style > * {
  color: getColour(primary-colour);
  padding: 20px;
}

// For extremely small screen devices (550px and below) 

@media only screen and (min-width: 320px) and (max-width:550px) {

.about-style {
   width: 95%;

  }

}