 .contents-style {
   position: relative;
 }
  
 .establishment-contents {
    height: 1200px;
    width: 600px
 }

 .establishment-form {
    @extend .form-contents;
     
 }
 .return-icon {
     position: absolute;
     color: getColour(primary-colour);
     left: 10px;
     top: 10px;
 }

 .establishment-form input {
    width: 300px;
    margin:0 auto;
 }

 // For extremely small screen devices (550px and below) 

 @media only screen and (min-width: 320px) and (max-width:550px) {
    .establishment-contents {
       width: 350px;
    }


 }