body {
    margin: 0 auto;
    font-family:$font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    max-width: 1280px;

}

.stay-image {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: darkgrey 20px;
}

.loading {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    //border: 5px solid rgb(0, 128, 0, 0.5);

    border-radius: 50%;

    border-color: red;
    border-left-color: lightblue;
    animation: spin 1s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.search {

    position: relative;

}

.resultResult {
    position: absolute;
    background-color: white;
    width: 230px;
    height: 250px;
    border-radius: 0 0 5px 5px;
    overflow: scroll;
    z-index: 1;
}

