*{
    box-sizing: border-box;
}

html, body{
height: 100%;
}

body {
    margin: 0 auto;
    font-family:$font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1280px;

}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body-container {
    width: 100%;
    max-width: 0 auto;
}

.wrapper {
    flex: 1 0 auto;
}

.nav-links {
   margin: 7px 10px 0;
}
// admin, inquiry, establishment pages background 

.background-cover {
    background-image: url("../../images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.icons {
    font-size: 30px;
}

.loading {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-radius: 50%;
    border-color: getColour(secondary-colour);
    border-left-color: getColour(blue-navy);
    animation: spin 1s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.heading {
    background-color: getColour(primary-colour);
    width: 200px;
    border-radius: 0 50px 50px 0;
    padding-left:10px;
}

.header {
    padding-left: 20px;
    @extend .background-shadow;
}

.common-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: getColour(blue-navy);
}

.company-name {
    color:getColour(secondary-colour);
    font-size:25px;
}

.nav-common-style {
    position: absolute;
}

.login {
   @extend .nav-common-style;
    right: 15px;
    top: 8px;
}

.search {
    @extend .nav-common-style;
    right: 110px;
}
.search-input input, input{
    text-decoration: none;
    border:1px solid getColour(light-grey-colour);
    border-radius: 5px;
    height: 35px;
    width: 300px;
    position: relative;
}

textarea {
    border-radius: 5px;
}

.search-result {
    position: absolute;
    background-color:getColour(primary-colour);
    width: 200px;
    max-width: 250px;
    border-radius: 0 0 5px 5px;
    overflow: scroll;
    z-index: 1;
    margin-top: -2px;
    padding-left:10px ;
}

.footer-common-style {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

footer  {
    @extend .footer-common-style;
    background-color:getColour(blue-navy);
    flex-shrink: 0;
    grid-gap: 10px;
    align-items: center;
    padding: 15px;
    text-align: center;

}

footer p, footer h4 {
    color: getColour(primary-colour);
}


.destinations-items {
    @extend .footer-common-style;    
}

// Form response Message 

.resonse-common {
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
}

.response-message {
    background-color: getColour(succcess-colour);
    @extend .resonse-common;
}
.form-error {
    @extend .resonse-common;
    background-color: getColour(secondary-colour);

}





// inquiry, inquiry details, contact, contact message common style 

.contents {
    width: 70%;
    margin: 50px auto;
    border-radius: 10px;
    background-color: getColour(primary-colour);
}