.stay-image {
     width: 330px;
     height: 330px;
     object-fit: cover;
     border-radius: 5px;
     @extend .background-shadow;
}

.stay-common {
    display: flex;
}

.stay {
    margin-bottom: 10px;
}

.stay-details{
    @extend .stay-common;  
    justify-content: space-between;
    width: 330px;
    padding: 5px 0 0 0;
    font-weight: 600;
   
}

.stay-location {
     @extend .stay-common;
     padding: 0;
     
}

.location-icon {
     margin-top: 5px;

}

.stay p{
     margin: 0;
}

.container-wrapper {
     margin: 20px auto;
}

// Breaking point Medium screen devices (668px and above) 

@media only screen and (min-width: 668px) and (max-width:768px) {

.stay {
      margin: 5px 70px;
    }
}

// For extremely small screen devices (595px and below) 
@media only screen and (min-width: 360px) and (max-width:667px) {

.stay {
        margin: 5px 0px;
    }
}